@page
@model IndexModel
@{
    ViewData["Title"] = "Order Form";
}

<div class="text-center">
    <h1 class="display-4">Order Form</h1>
    <p>Order your free conference merchandise.</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post">

            <button type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    </div>
</div>
